<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Insecure password</title>
  </head>
  <body>
    <form method="POST" action="/login">
      <input type="text" name="email" placeholder="E-Mail" />
      <input type="password" name="password" placeholder="Password" />
      <button type="submit" name="option" value="login">Log in</button>
    </form>
  </body>
</html>