<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>add | Online Calculator</title>
</head>
<body>

<h1>Claculator</h1>
<form action="/" method="POST">
  <input type="number" name="first_number" placeholder="1st number" value=<%= @next_num %>>
  <input type="number" name="second_number" placeholder="2nd number">

  <button type="submit" name="operation" value="add">+</button>

  <button type="submit" name="operation" value="substract">-</button>

  <button type="submit" name="operation" value="multiply">x</button>

  <button type="submit" name="operation" value="divide">/</button>
</form>

<% if @result %>
  <p>El resultado es: <%= @print_result %></p>

<form action="/" method="POST">
  <button type="submit" name="save_file" value=<%= @result %>>Save</button>
</form>
<% end %>

</body>
</html>
