<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Insecure password</title>
  </head>
  <body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Puppy_on_Halong_Bay.jpg" alt="pretty puppy" width="300" />
    <img src="http://cdn.playbuzz.com/cdn/b1581f3e-858f-4209-a112-5b919b0b2247/174433d6-0f1e-4f3b-ba7a-1ddb843c38b9.jpg" alt="pretty unicorn" width="300" />
    <img src="http://jumparoundva.com/wp-content/uploads/2014/08/cotton-candy.jpg" alt="Yumiiiii" width="300" />
  </body>
</html>